<h1>Mi cuenta es: <%=@count%></h1>

<form action="/count" method="post">
     <input type="submit" value="Suma!!"></input>
     <input type="hidden" name="count" value=<%="#{@count}"%>></input>
</form>
